<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ head_title }}</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="smarttest" name="keywords">
  <meta content="An application that makes exams easier" name="description">
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="css/homepage.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link href="css/all.min.css" rel="stylesheet">
</head>

<body>
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <!--<a href="#hero"><img src="img/logo.png" alt="" title="" /></img></a>-->
        <h1><a href="#hero">Smart Test</a></h1>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#hero">Trang chủ</a></li>
          {{#IfEqualBlock isUserLogged true}}
          <li class="menu-has-children"><a href="">Tài khoản</a>
            <ul>
              <li><a href="#">Quản lý tài khoản</a></li>
              <li><a href="#">Kết quả kiểm tra</a></li>
              <li><a href="/logout">Đăng xuất</a></li>
            </ul>
          </li>
          {{/IfEqualBlock}}
          {{#IfEqualBlock isUserLogged false}}
          <li><a href="/login">Đăng nhập</a></li>
          <li><a href="/register">Đăng ký</a></li>
          {{/IfEqualBlock}}
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Hero Section
  ============================-->
  <section id="hero">
    <div class="hero-container">
      <h1>Chào mừng!</h1>
      <h2>Vui lòng nhập mã PIN để vào phòng và thực hiện kiểm tra</h2>
      <div class="row">
        <div class="col-md-12">
          <div v-if="!isLoading" class="input-group mb-3">
            <input v-model="inputPIN" type="text" id="txbPINCode" class="form-control" placeholder="{{#IfEqual isUserLogged false 'Vui lòng đăng nhập'}}{{/IfEqual}}{{#IfEqual isUserLogged true 'Mã PIN bài kiểm tra'}}{{/IfEqual}}" {{#IfEqual isUserLogged false 'disabled'}}{{/IfEqual}}>
            <div class="input-group-append">
              <button @click="searchRoom" id="btnGetToRoom" class="btn btn-success" type="button" {{#IfEqual isUserLogged false 'disabled' ''}}{{/IfEqual}}>Tìm phòng</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div v-if="isLoading"><img src="img/loading3.gif" class="icon-loading"></div>
          <div v-if="isError" class="alert alert-warning py-2 pl-0">
            <ul class="m-0 y-0 text-left">
              <li v-for="e in errors">{? e ?}</li>
            </ul>
          </div>
          <div v-if="roomFound">
            <div class="card mt-5" style="opacity: 0.85;">
              <div class="card-header py-1 px-2 bg-primary text-white"><i class="fas fa-check-circle mr-2"></i><span>Đã tìm được phòng</span></div>
              <div class="card-body py-3 d-flex justify-content-between align-items-center text-left">
                <div class="pr-5">
                  <p class="m-0 y-0 text-primary"><b>{? testName ?}</b></p>
                  <hr class="my-1">
                  <p class="m-0 y-0 text-primary small"><b>Thời gian làm bài:</b> {? testTime ?} phút</p>
                  <p class="m-0 y-0 text-primary small"><b>Giảng viên:</b> {? testOwner ?}</p>

                </div>
                <div>
                  <button @click="joinRoom" class="btn btn-info"><i class="fas fa-chevron-circle-right mr-2"></i>Vào phòng</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- #hero -->

 
  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="js/all.min.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/homepage.js"></script>
  <script src="js/vue.js"></script>
  <script>
    var vm = new Vue({
      el: "#hero",
      delimiters: ["{?","?}"],
      data: {
        testName: "",
        testTime: 0,
        testOwner: "",
        inputPIN: "",
        isLoading: false,
        isError: false,
        errors: [],
        roomFound: false,
        roundFoundPIN: "",
      },
      methods: {
        searchRoom: function() {
          vm.roomFound = false;
          vm.showError(false, "");

          if(!(new RegExp(/^\d{5}$/).test(vm.inputPIN)))
            return vm.showError(true, 'Mã PIN phải là 5 chữ số');

          vm.isLoading = true;

          $.ajax({
            url: "/findroom/" + vm.inputPIN,
            method: "GET",
            success: function(ret) {
              vm.isLoading = false;
              if(!ret.status)
                return vm.showError(true, ret.message);

              vm.testName = ret.testName;
              vm.testTime = ret.testTime;
              vm.testOwner = ret.testOwner;

              vm.roundFoundPIN = vm.inputPIN;
              vm.roomFound = true;
            },
            error: function(error) {
              vm.isLoading = false;
              vm.showError(true, "Không thể kết nối tới máy chủ");
            }
          });
        },
        joinRoom: function() {
          if(!vm.roomFound || !(new RegExp(/^\d{5}$/).test(vm.roundFoundPIN)))
          {
            vm.isLoading = false;
            vm.roomFound = false;
            vm.roundFoundPIN = "";
            vm.showError(false, "");

            return;
          }

          window.location = '/joinroom/'+vm.roundFoundPIN;
        },
        showError: function(show, error) {
          vm.isError = show;
          vm.errors = [error];
        }
      }
    });
  </script>
</body>
</html>
