<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ head_title }}</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="smarttest" name="keywords">
  <meta content="An application that makes exams easier" name="description">
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="css/homepage.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link href="css/all.min.css" rel="stylesheet">
</head>

<body>
  <header id="header">
    <div class="container">
      <div id="logo" class="pull-left">
        <!--<a href="#hero"><img src="img/logo.png" alt="" title="" /></img></a>-->
        <h1 class="slide-right"><a href="#hero">Play To Learn</a></h1>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu slide-left">
          <li class="menu-active"><a href="/">Trang chủ</a></li>
          {{#IfEqualBlock isUserLogged true}}
          <li class="menu-has-children"><a href="/account">Tài khoản</a>
            <ul>
              <!-- <li><a href="/account">Cài đặt tài khoản</a></li>  -->
              {{#IfEqualBlock isUserAdmin true}}
              <li><a href="/dashboard">Quản lý trò chơi</a></li>
              {{/IfEqualBlock}}
              {{#IfEqualBlock isUserAdmin false}}
              <!-- <li><a href="/result">Kết quả kiểm tra</a></li> -->
              {{/IfEqualBlock}}
              <li><a href="/logout">Đăng xuất</a></li>
            </ul>
          </li>
          {{/IfEqualBlock}}
          {{#IfEqualBlock isUserLogged false}}
          <li><a href="/login">Đăng nhập</a></li>
          <li><a href="/register">Đăng ký</a></li>
          {{/IfEqualBlock}}
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Hero Section
  ============================-->
  <div id="nigger-app">
    <section id="hero">
        <div id="bigger-container" style="display: none;" class="fade-in">
        <div class="hero-container">
            <img style="height:250px;" class="mb-2" src="img/LearnToPlay_Icon.png"/>
            <h1 class="slide-up text-primary mb-3">Chơi để học</h1>
            {{#IfEqualBlock isInGame false}}
            <div>
                <h4 class="slide-up mb-2">Nhập mã PIN để vào phòng</h4>
                <div class="row slide-up">
                    <div class="col-md-12">
                        <div v-if="!gameSearch.isSearching" class="input-group mb-3">
                            <input v-model="gameSearch.inputPIN" type="text" class="form-control" placeholder="VD: 97775" maxlength="5">
                            <div class="input-group-append">
                                <button @click="SearchGame" class="btn btn-success" type="button"><i class="fas fa-search mr-2"></i>Tìm phòng</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/IfEqualBlock}}
            {{#IfEqualBlock isInGame true}}
            <h2 class="slide-up">Hệ thống nhận thấy bạn đang trong một bài kiểm tra, hãy bấm quay lại vào phòng</h2>
            <div class="row slide-up">
                <div class="col-md-12">
                    <div v-if="!isLoading" class="input-group mb-3">
                    <input type="text" id="txbPINCode" class="form-control" value="{{ testPIN }}" disabled>
                    <div class="input-group-append">
                        <button @click="backToRoom" id="btnBackToRoom" class="btn btn-success" type="button">Quay lại phòng</button>
                    </div>
                    </div>
                </div>
            </div>
            {{/IfEqualBlock}}
            <div class="row slide-up">
                <div class="col-md-12">
                    <div v-if="gameSearch.isSearching" class="py-2"><img src="img/loading3.gif" class="icon-loading"></div>
                    <div v-if="gameSearch.isError" class="alert alert-warning py-2 pl-0">
                        <ul class="m-0 y-0 text-left">
                            <li v-for="e in gameSearch.errorList">{? e ?}</li>
                        </ul>
                    </div>
                    <!--
                    <div v-if="gameFound.isFound">
                        <div class="card rounded-0 mt-5" style="opacity: 0.85;">
                            <div class="card-header rounded-0 py-1 px-2 bg-primary text-white"><i class="fas fa-check-circle mr-2"></i><span>Đã tìm được phòng</span></div>
                            <div class="card-body rounded-0 py-3 d-flex justify-content-between align-items-center text-left">
                                <div class="pr-5">
                                    <p class="m-0 y-0 text-primary"><b>{? gameFound.name ?}</b></p>
                                    <hr class="my-1">
                                    <p class="m-0 y-0 text-primary small"><b>Người dẫn:</b> {? gameFound.presenter ?}</p>
                                </div>
                                <div>
                                    <button @click="JoinGame" class="btn btn-primary"><i class="fas fa-chevron-circle-right mr-2"></i>Vào phòng</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    -->
                </div>
            </div>
        </div>
        </div>
    </section><!-- #hero -->
        <div class="modal fade" id="modal-joingame">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title text-success"><i class="fas fa-check-circle mr-2"></i><span>Đã tìm được phòng</span></h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body py-5 text-center">
                        <img style="height:190px;" class="mb-4" src="img/LearnToPlay_Icon.png"/>
                        <h6 class="text-center font-weight-bold text-uppercase mb-2 text-muted">Chủ đề</h6>
                        <h2 class="text-center text-success mb-1">{? gameFound.name ?}</h2>
                    </div>
                    <div class="modal-footer d-flex justify-content-between align-items-center">
                        <h6 class="text-center p-2 mb-0"><i class="fas fa-chalkboard-teacher mr-2"></i>{? gameFound.presenter ?}</h6>
                        <button @click="JoinGame" class="btn btn-success font-weight-bold text-uppercase"><i class="fas fa-chevron-circle-right mr-2"></i>Vào phòng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
  <!-- JavaScript Libraries -->
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/jquery/jquery-migrate.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/superfish/hoverIntent.js"></script>
    <script src="lib/superfish/superfish.min.js"></script>
    <script src="js/homepage.js"></script>
    <script src="js/vue.js"></script>
    <script src="/js/axios.min.js"></script>
    <script src="/js/babel.min.js"></script>
    <script type="text/babel">
        var vm = new Vue({
            el: "#nigger-app",
            delimiters: ["{?","?}"],
            data: {
                user: {
                    fullName: "{{ userFullName }}"
                },
                quickJoin: "{{ quickJoin }}",
                gameSearch: {
                    isSearching: false,
                    inputPIN: "",
                    isError: false,
                    errorList: []
                },
                gameFound: {
                    isFound: false,
                    name: "",
                    presenter: "",
                    PIN: ""
                }
            },
            methods: {
                SearchGame() {
                    this.gameFound.isFound = false;
                    this.showError(false, "");

                    if(!(new RegExp(/^\d{5}$/).test(this.gameSearch.inputPIN)))
                        return this.showError(true, 'Mã PIN phải là 5 chữ số');

                    this.gameSearch.isSearching = true;

                    axios("/findgame/"+this.gameSearch.inputPIN)
                    .then(({ data }) => {
                        if(data.success) {
                            this.gameFound.name = data.game.NAME;
                            this.gameFound.presenter = data.game.PRESENTER;
                            this.gameFound.PIN = this.gameSearch.inputPIN;
                            this.gameFound.isFound = true;

                            $("#modal-joingame").modal("show");
                            if(this.GetQuickJoin()) {
                                var niggerThis = this;
                                setTimeout(function() { niggerThis.JoinGame(); }, 500);
                            }
                        } else {
                            this.showError(true, data.message);
                            $("#modal-joingame").modal("hide");
                        }

                        this.gameSearch.isSearching = false;
                    }).catch((error) => {
                        console.log(error);

                        this.gameSearch.isSearching = false;
                        this.showError(true, "Không thể kết nối tới máy chủ");
                    });
                },
                JoinGame() {
                    if(!this.gameFound.isFound)
                        return;

                    var pattern = "^[a-zA-Z_ÀÁÂÃÈÉÊÌÍÒÓÔÕÙÚĂĐĨŨƠàáâãèéêìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶẸẺẼỀỀỂưăạảấầẩẫậắằẳẵặẹẻẽềềểỄỆỈỊỌỎỐỒỔỖỘỚỜỞỠỢỤỦỨỪễệỉịọỏốồổỗộớờởỡợụủứừỬỮỰỲỴÝỶỸửữựỳỵỷỹ\\s0-9]+$";
                    var fullName;

                    do {
                        fullName = prompt("Vui lòng nhập tên của bạn", this.user.fullName || "Người chơi");

                        if(fullName.length > 24)
                            alert("Tên phải từ 1 đến 24 ký tự.");
                        else if(fullName.length > 0 && !(new RegExp(pattern).test(fullName)))
                            alert("Tên nhập không hợp lệ. (Vui lòng không dùng ký tự đặc biệt)");
                        else if(fullName <= 0) {
                            alert("Vui lòng nhập tên để vào phòng");
                            break;
                        }

                    } while(!(new RegExp(pattern).test(fullName)) || fullName.length > 24)
                    if(fullName.length <= 0) return;

                    window.location.replace('/joingame/'+this.gameFound.PIN+'/'+encodeURI(fullName));
                },
                backToRoom: function() {
                    window.location = '/playing';
                },
                showError(show, error) {
                    this.gameSearch.isError = show;
                    this.gameSearch.errorList = [error];
                },
                GetQuickJoin() {
                    if(this.quickJoin.length == 5)
                        return true;

                    return false;
                }
            },
            mounted() {
                document.getElementById('bigger-container').style.display = "block";

                if(this.GetQuickJoin()) {
                    this.gameSearch.inputPIN = this.quickJoin;
                    this.SearchGame();
                }
            }
        });
    </script>
</body>
</html>
