<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ head_title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta content="smarttest" name="keywords">
  <meta content="An application that makes exams easier" name="description">
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="css/homepage.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link href="css/all.min.css" rel="stylesheet">
</head>
<body class="custom-body">
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <header id="header">
        <div class="container">
            <div id="logo" class="pull-left">
                <!--<a href="#hero"><img src="img/logo.png" alt="" title="" /></img></a>-->
                <h1 class="slide-right my-1 ml-3"><a href="#hero">Play To Learn</a></h1>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu slide-left">
                    <li class="menu-active"><a href="/">Trang chủ</a></li>
                    {{#IfEqualBlock isUserLogged true}}
                    <li class="menu-has-children"><a href="/account">Tài khoản</a>
                        <ul>
                        <!-- <li><a href="/account">Cài đặt tài khoản</a></li>  -->
                        {{#IfEqualBlock isUserAdmin true}}
                        <li><a href="/dashboard">Quản lý trò chơi</a></li>
                        {{/IfEqualBlock}}
                        {{#IfEqualBlock isUserAdmin false}}
                        <!-- <li><a href="/result">Kết quả kiểm tra</a></li> -->
                        {{/IfEqualBlock}}
                        <li><a href="/logout">Đăng xuất</a></li>
                        </ul>
                    </li>
                    {{/IfEqualBlock}}
                    {{#IfEqualBlock isUserLogged false}}
                    <li><a href="/login">Đăng nhập</a></li>
                    <li><a href="/register">Đăng ký</a></li>
                    {{/IfEqualBlock}}
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
  </header><!-- #header -->

  <!--==========================
    Hero Section
  ============================-->
  <div id="nigger-app">
    <section id="hero">
        <div id="bigger-container" style="display: none;" class="fade-in">
            <div class="hero-container">
                <img class="mb-4 img-fluid slide-up" src="img/game_symbol.png"/>
                {{#IfEqualBlock isInGame false}}
                <div class="row slide-up">
                    <div class="col-md-8 offset-md-2 homepage-searchgroup">
                        <div class="input-group">
                            <input id="mainInputPIN" v-model="gameSearch.inputPIN" type="text" class="form-control form-control-lg" placeholder="VD: 97775" maxlength="5" data-placement="top" :data-content="gameSearch.errorText">
                            <div class="input-group-append">
                                <button @click="SearchGame" class="btn btn-success px-3" type="button"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                {{/IfEqualBlock}}
            </div>
        </div>
    </section><!-- #hero -->
        <div class="modal fade" id="modal-joingame">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title text-success"><i class="fas fa-check-circle mr-2"></i><span>Đã tìm được phòng</span></h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body pt-5 text-center">
                        <img class="img-fluid mb-4" src="img/game_symbol.png"/>
                        <h2 class="text-center text-success mb-5">{? gameFound.name ?}</h2>
                        <div class="row">
                            <div class="col-md-6 offset-md-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Tên bạn</span>
                                    </div>
                                    <input id="player-name" v-model="gameSearch.playerName" type="text" class="form-control" placeholder="VD: Cuong Vu" autofocus>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-between align-items-center">
                        <h6 class="text-center p-2 mb-0"><i class="fas fa-chalkboard-teacher mr-2"></i>{? gameFound.presenter ?}</h6>
                        <button @click="JoinGame" class="btn btn-success font-weight-bold text-uppercase"><i class="fas fa-chevron-circle-right mr-2"></i>Vào phòng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
  <!-- JavaScript Libraries -->
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/jquery/jquery-migrate.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/superfish/hoverIntent.js"></script>
    <script src="lib/superfish/superfish.min.js"></script>
    <script src="js/homepage.js"></script>
    <script src="js/vue.js"></script>
    <script src="/js/axios.min.js"></script>
    <script src="/js/babel.min.js"></script>
    <script type="text/babel">
        var isPageBusy = true;
        function Set_PageBusy(busy) {
            if(isPageBusy == busy)
                return;
            
            isPageBusy = busy;

            if(isPageBusy) {
                $(".loader").show();
                $("#preloder").show();
            } else {
                $(".loader").hide();
                $("#preloder").hide();
            }
        }

        $(window).on("load", function() {
            Set_PageBusy(false);
        });
        
        var vm = new Vue({
            el: "#nigger-app",
            delimiters: ["{?","?}"],
            data: {
                user: {
                    fullName: "{{ userFullName }}",
                    quickJoin: false
                },
                quickJoin: "{{ quickJoin }}",
                gameSearch: {
                    isSearching: false,
                    inputPIN: "97775",
                    isError: false,
                    errorText: "",
                    playerName: ""
                },
                gameFound: {
                    isFound: false,
                    name: "",
                    presenter: "",
                    PIN: ""
                },
                pageBusy: true
            },
            methods: {
                OnChange_InputPIN() {
                    console.log('Test');
                    this.showError(false, "");
                },
                SearchGame() {
                    this.gameFound.isFound = false;
                   
                    if(!(new RegExp(/^\d{5}$/).test(this.gameSearch.inputPIN)))
                        return this.showError(true, 'Mã PIN phải là 5 chữ số');

                    this.showError(false, "");
                    this.gameSearch.isSearching = true;
                    Set_PageBusy(true);

                    axios("/findgame/"+this.gameSearch.inputPIN)
                    .then(({ data }) => {
                        if(data.success) {
                            this.gameFound.name = data.game.NAME;
                            this.gameFound.presenter = data.game.PRESENTER;
                            this.gameFound.PIN = this.gameSearch.inputPIN;
                            this.gameFound.isFound = true;

                            $("#modal-joingame").modal("show");
                            setTimeout(function() { $("#player-name").focus(); }, 500);
                            /*
                            if(this.GetQuickJoin()) {
                                var niggerThis = this;
                                setTimeout(function() { niggerThis.JoinGame(); }, 500);
                            }*/
                        } else {
                            this.showError(true, data.message);
                            $("#modal-joingame").modal("hide");
                        }

                        this.gameSearch.isSearching = false;
                        Set_PageBusy(false);
                    }).catch((error) => {
                        console.log(error);

                        this.gameSearch.isSearching = false;
                        Set_PageBusy(false);
                        this.showError(true, "Không thể kết nối tới máy chủ");
                    });
                    
                },
                JoinGame() {
                    if(!this.gameFound.isFound)
                        return;

                    var pattern = "^[a-zA-Z_ÀÁÂÃÈÉÊÌÍÒÓÔÕÙÚĂĐĨŨƠàáâãèéêìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶẸẺẼỀỀỂưăạảấầẩẫậắằẳẵặẹẻẽềềểỄỆỈỊỌỎỐỒỔỖỘỚỜỞỠỢỤỦỨỪễệỉịọỏốồổỗộớờởỡợụủứừỬỮỰỲỴÝỶỸửữựỳỵỷỹ\\s0-9]+$";
                    var fullName = this.gameSearch.playerName;

                    if(fullName.length <= 0 || fullName.length > 24) 
                        return alert("Tên phải từ 1 đến 24 ký tự.");
                    if(!(new RegExp(pattern).test(fullName)))
                        return alert("Tên nhập không hợp lệ. (Vui lòng không dùng ký tự đặc biệt)");

                    window.location.replace('/joingame/'+this.gameFound.PIN+'/'+encodeURI(fullName));
                },
                backToRoom: function() {
                    window.location = '/playing';
                },
                showError(show, error) {
                    this.gameSearch.errorText = error;
                    setTimeout(function() { 
                        $("#mainInputPIN").popover(show == true ? 'show' : 'hide'); 
                    }, 10);
                },
                GetQuickJoin() {
                    if(this.quickJoin.length == 5)
                        return true;

                    return false;
                }
            },
            computed: {
                searchPIN() {
                    return this.gameSearch.inputPIN;
                }
            },
            watch: {
                searchPIN(val) {
                    this.showError(false, "");
                }
            },
            mounted() {
                document.getElementById('bigger-container').style.display = "block";
                var niggerThis = this;

                if(this.GetQuickJoin()) {
                    setTimeout(function() {
                        niggerThis.user.quickJoin = true;
                        
                        niggerThis.gameSearch.inputPIN = niggerThis.quickJoin;
                        niggerThis.SearchGame();
                    }, 500);
                }

                this.gameSearch.playerName = this.user.fullName;

                $('#mainInputPIN').popover({
                    trigger: 'manual'
                });
            }
        });
    </script>
</body>
</html>
